body{
    background: url("https://e0.pxfuel.com/wallpapers/91/451/desktop-wallpaper-avengers-infinity-war-movie-superhero-artwork-poster-background-9a9a1c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    color: white;
    background: rgba(0, 0, 0, 0.7);
    width: 600px;
    text-align: center;
    margin: auto;
}


.name{
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.7);
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}


h3{
    color: white;
    font-size: xx-large;
}


.t{
    display: flex;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}


img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid blueviolet;
}
td{
    padding: 10px;
}